@font-face {
    font-family: 'Gowun Dodum';
    src: url(GowunDodum-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gowun Dodum', sans-serif;
    user-select: none;
}

li{
    list-style-type: none;
}

body{
    display: flex;
    justify-content: center;
    font-family: 'Do Hyeon', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* background-color: rgb(64, 135, 201); */
    height: 100%;
    z-index: 1;
    overflow: hidden;
    position: relative;
    background-image: url(pattern2.jpg);
    background-size: 250px;
}


.header{
    /* border: 1px solid pink; */
    width: 100%;
    height: 440px;
}

/* ///////////////////////박성진 header logo&login START////////////////////// */

.headerTop{
    display: flex;
    justify-content: center;
    position: relative;
}

.headerTop .logoFrame {
    display: flex;
    justify-content: center;
}

.container .loginIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    background-color: #e9d4bbe3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    left: 80px;
    top: 20px;
    z-index: 10000;
    overflow: hidden;
    transition: 0.1s;
}

.iconsBox{
    width: 150px;
    transform: translate(57px,0);
    display: flex;
    transition: 0.3s;
}

.loginIcon .fa-user,.fa-cart-shopping,.fa-heart,.fa-circle-arrow-left{
    font-size: 1.9rem;
    padding: 5px;
    cursor: pointer;
}

/* .loginIcon:hover .iconsBox{
    transform: translate(20px,0);
}

.loginIcon:hover{
    width: 150px;
    border-radius: 30px;
} */


.loginModal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* display: none; */
    z-index: 5000;
    flex-direction: column;
    overflow: hidden;
}

.loginModal .fa-xmark{
    font-size: 2rem;
    transform: translate(180px,10px);
    opacity: 0.8;
    color: white;
}

.loginModal .lgModal{
    width: 400px;
    height: 550px;
    border-radius: 10px;
    background-color: #FDE6BE;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease;
}

.loginModal .loadingBook{
    position: absolute;
    opacity: 0;
    transition: 0.3s;
    width: 200px;
    z-index: -1;
}

.lgModal .fa-xmark{
    cursor: pointer;
}

.loginModal .modalTitle{
    text-align: center;
    width: 100%;
    font-size: 3rem;
    padding: 20px;
    /* background-color: brown; */
    color: black;
}

.loginModal .inputBox{
    width: 80%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputBox .fa-user, .inputBox .fa-lock{
    font-size: 2rem;
    transform: translate(0,5px);
}

.inputBox input{
    width: 230px;
    height: 40px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background-color: transparent;
    font-size: 1.5rem;
}

.inputBox input::placeholder{
    color: rgba(59, 59, 59, 0.5);
}

.userName, .passwd{
    margin: 10px;
}

.inputBox{
    background-color: transparent;
}

.inputBox .modalBtn{
    background-color: white;
    width: 85%;
    padding: 5px;
    font-size: 2.4rem;
    margin-top: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modalCheckBox{
    background-color: white;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}



#signUp{
    margin-top: 15px;
    font-size: 1.2rem;
    padding: 5px;
    transform: translate(0,-5px);
    cursor: pointer;
}

#signUp a:hover{
    font-weight: bold;
}


.modalCheckBox .check{
    margin: 10px 60px;
    text-align: center;
    display: inline-block;
}


#logo{
    width: 150px;
    text-align: left;
}

.loginForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
    width: 1px;
    height: 1px;
    /* display: none; */
    /* width: 500px;
    height: 800px; */
    background-color: rgb(64, 135, 201);
    background-image: url(loginFormBackground.jpg);
    background-size: cover;
    background-position: 0 230px;
    background-repeat: no-repeat;
    opacity: 0.95;
}

.loginFormTitle{
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}

#signUpXmark{
    color: black;
    font-size: 1.7rem;
    position: relative;
    right: 5px;
    top: -15px;
    cursor: pointer;
}

.show ,.slash{
    position: absolute;
    transform: translate(360px,-51px);
}
.show{
    transform: translate(361px,-51px);
}

.loginForm .loginFormContent{
    opacity: 0;
    width: 70%;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    /* background-color: coral; */
    transition: 0.5s;
}

.loginFormContent input{
    width: 100%;
    border: none;
    margin: 5px 0;
    padding: 6px 5px;    
    border-radius: 1px;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.39);
    font-size: 1.2rem;
    outline: none;
}

.loginFormContent .smallText{
    font-size: 0.8rem;
    opacity: 0.8;
    font-weight: bold;
    color: #D2691E;
    margin: 0 2px;
}

.loginFormContent input::placeholder{
    font-size: 1.1rem;
}

.birthBox{
    display: flex;
    justify-content: center;
}

.loginFormContent .legYear{
    width: 35%;
    margin-right: 15px;
}

.loginFormContent .legMonth{
    padding: 10px;
    width: 22%;
    margin-right: 15px;
    border-radius: 1px;
    border: none;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.7);
    outline: none;
    background-color: transparent;
}
.loginFormContent .legDay{
    width:35%;
}
                    
.birthTextBox{
    display: flex;
}

#yearText{
    width: 160px;
}

#dayText{
    width: 160px;
    transform: translate(70px,0);
}

.identityBox{
    position: relative;
}

.legIdentity ~.fa-mars{
    position: absolute;
    font-size: 1.6rem;
    right: 0px;
    top: 18px;
    visibility: hidden;
}
.legIdentity ~.fa-venus{
    position: absolute;
    font-size: 1.6rem;
    right: 0px;
    top: 18px;
    visibility: hidden;
}

.loginFormContent .legAddress{
    width: 70%;
}

.addressBox{
    width: 100%;
    margin: 15px 0;
}

.loginFormContent .addressBtn{
    width: 25%;
    height: 45px;
    border: none;
    border-radius: 1px;
    background-color: #FDE6BE;
    margin-left: 13px;
    font-weight: bold;
    cursor: pointer;
}

.legBtn{
    border: none;
    width: 100%;
    height: 60px;
    font-size: 1.3rem;
    background-color: #FDE6BE;
    border-radius: 2px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}


.loginForm.active{ width: 550px; height: 800px; transition: 1.5s;}
.lgModal.active{animation: loginFormActive 0.5s ease forwards;}
.modalBtn.active{animation: loginFormActive 0.5s ease forwards;}
.signUpActive{opacity: 0; transition: 0.5s;}
.loadingBook .active{display: block;}
.loadingBook .inactive{display: none;}

@keyframes loginFormActive {
    form{

    }
    to{
        background-color: white;
        color: white;
    }
}


/* ///////////////////////박성진 header logo&login END ////////////////////// */

/* /////////////////////수근/////////////////////////// */
.newBook {
    width: 1220px;
    height: 500px;
    margin-top: 50px;
    position: relative;
    /* background-color:#FFF; */

    
}
li {
    list-style: none;
}
.newBook_title {
    margin-top: 1px;
    padding: 10px;
    margin-top: 20px;
    color: rgb(117, 118, 118);
    border-bottom: 1px solid black;
}
.newBook_title:hover {
    color: black;
}
.newBook_slide_wrapper {
    position: relative;
    width: 1200px;
    overflow: hidden;
    height: 400px;
    margin: 50px auto;
}
.newBook_slides {
    position: relative;
    left: 0; top: 0;

}
.newBook_slides.animated {
    transition: 1s ease-out;

}
.newBook_slides li{
    width: 200px;
    height: 500px;
    float: left;
}
.newBook_slides li:not(:last-child) {
    margin-right: 50px;
}
.newBook_slides li .img_box {
    width: 200px;
    height: 290px;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 2px 1px gray;
}
.newBook_slides li .img_box:hover {
    box-shadow: 1px 6px 6px 1px gray;
}
.newBook_slides li .img_box > span {
    text-align: center;
    color: black;
    padding-top: 10px;
    font-weight: 600;
}
.newBook_slides li img {
    width: 200px;
}
.imgOverlay {
    position: absolute;
    top: 75%;
    left: 0;
    right: 0;
    bottom:0;
    opacity: 0;
    transition: all 0.35s ease-in-out;
    background-color: black;
}
.imgContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 11px;
}
.imgContent div{
    border: 1px solid white;
    padding: 8px 9px;
    margin: 5px;
    color: white;
}
.imgContent div:hover {
    border: 1px solid black;
    transition: all 0.35s;
    background-color: white;    
    color: black;
}

.img_box:hover .imgOverlay {
    opacity: 0.9;
}


/* issue book/////////////////////////////////////////////////////////////////// */

.issue_main_title {
    width: 1220px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    color: rgb(117, 117, 118);
}
.issue_main_title:hover {
    color: black;
}
.issue_container {
    width: 1220px;
    height: 250px;
    position: relative;
    margin: 80px auto;
}

.issue_container:hover .issue_controls span {
    opacity: 0.5;
    transition: linear 0.35s;
}
.issue_slide_title {
    width: 1221px;
    margin: auto;
}
.issue_slide_title h3 {
    margin-bottom: 10px;
}
.issue_slide_wrapper {
    width: 1221px;
    height: 254px;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.issue_slides {
    position: absolute;
    left: 0; top: 0;
}

.issue_slides li {
    width: 1221px;
    height: 250px;
    background-color: #eee;
    float: left;
}
.issue_slides li:hover {
    border: 1px solid #aaa;
}
.issue_slides li:hover img{
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.8);
}

.issue_slides li:not(:last-child){
    margin-right: 10px;
}
.issue_con {
    display: flex;
    align-items: center;
}
.issue_con img {
    width: 130px;
    margin: 30px 50px;
    box-shadow: 0 3px 6px #dadce0;
}
.issue_con p:first-child {
    font-size: 13px;
    color: #aaa;
}
.issue_con p:nth-child(3) {
    margin: 10px 0px;
}
.issue_con p:nth-child(3) span {
    color: red;
    font-size: 20px;
    font-weight: 600;
}

.issue_controls span:first-child {
    position: absolute;
    top: 35%;
    left: 0;
    padding: 0px 5px;
    font-size: 35px;
    opacity: 0;
    background-color: black;
    color: white;
}
.issue_controls span:last-child {
    position: absolute;
    top: 35%;
    right: 0;
    opacity: 0;
    padding: 0px 5px;
    font-size: 35px;
    background-color: black;
    color: white;
}
.issue_controls span:last-child:hover {
    opacity: 1;
}
.issue_controls span:first-child:hover {
    opacity: 1;
}
/* 테마 */
.theme_container {
    width: 1221px;
    height: 350px;
    position: relative;
    padding-top: 20px;
    margin: auto;

}

.theme_slide_title {
    width: 1225px;
    margin: auto;
}
.theme_slide_title h3 {
    margin-top: 30px;
    margin-bottom: 10px;
}
.theme_slide_wrapper {
    width: 1220px;
    height: 304px;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.theme_slides {
    position: absolute;
    left: 0; top: 0;
}

.theme_slides li {
    width: 600px;
    height: 300px;
    background-color: #eee;
    float: left;
}
.theme_slides li:hover {
    border: 1px solid #aaa;
}
.theme_slides li img:hover {
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.8);
}


.theme_slides li:not(:last-child){
    margin-right: 20px;
}
.theme_slides li p {
    text-align: center;
    padding-top: 20px;
    font-weight: 600;
    color: black;
}
.theme_con {
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme_con img {
    width: 130px;
    margin: 30px 20px;
    box-shadow: 0 3px 6px #dadce0;
}


.theme_controls span:first-child {
    position: absolute;
    top: 40%;
    left: 0;
    padding: 0px 5px;
    font-size: 35px;
    color: white;
}
.theme_controls span:last-child {
    position: absolute;
    top: 40%;
    right: 0;
    padding: 0px 5px;
    font-size: 35px;
    color: white;
}
.theme_controls span:last-child:hover {
    background-color: #ccc;
}
.theme_controls span:first-child:hover {
    background-color: #ccc;
}

/* ///////////////////////수근 끝/////////////////////////////////////// */

/* //////////////////////////////////양희 시작///////////////////////////////////// */
.reviewBook{
    margin-top: 100px;
    width: 1220px;
    height: 800px;
}
.reviewtitle{
    padding: 10px;
    border-bottom: 1px solid black;
    color: gray;
    transition: .5s;
}

.reviews{
    width: 100%;
    height: 40%;
}
.reviewboxs{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 25px 0;
}


.reviewbox{
    width: 200px;
    height: 93%;
    margin: 0 25px;
    border-radius: 5px;
    box-shadow: 0 1px 2px gray;

}
.reviewbox:hover{
    box-shadow: 3px 3px 5px gray;
}

.reviewbox .topimg{
    height: 85%;
    position: relative;
}
.topimg img{
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
    transition: .3s;
    cursor: pointer;
    overflow: hidden;
}
.reviewshow{
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    bottom: 40%;
    left: 35%;
    opacity: 0;
    transition: .5s;
}
.topimg:hover .reviewshow{
    opacity: 1;
}

.bottomtext{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 0 0 5px 5px;
}
.bottomtext i{
    font-size: 1.5rem;
    cursor: pointer;
}
.bottomtext span{
    font-weight: bold;
    color: #333;
}
.lefttext{
    margin-left: 10px;
}

.righttext{
    margin-right: 10px;
    margin-top: 3px;
}
.righttext .fa-heart{
    color: red;
}

.fa-solid.fa-heart.animation{
    animation: popup .3s linear;
}
@keyframes popup {
    0%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.listnumber{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listnumber button{
    background-color: gainsboro;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.listnumber span{
    padding: 20px 20px;
    font-weight: bold;
    cursor: pointer;
}
.listnumber span:hover{
    color: #1E90FF;
    text-decoration: underline;
}
/* 모달창 */
.modalbg{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 500;
}
.modalview{
    width: 70%;
    height: 80%;
    background-color: whitesmoke;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.leftimg{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftimg img{
    width: 90%;
    height: 70%;
    box-shadow: 10px 10px 10px 5px rgb(199, 199, 199);
}
.leftimg img:hover{
    box-shadow: 12px 12px 12px 8px rgb(155, 154, 154);
}
.rightcontent{
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.starsY{
    color: #FFEB5A;
    font-size: 1.2rem;
    padding: 30px 30px 30px 0;
}
.starsY span{
    color: red;
    font-weight: bold;
    padding-left: 10px;
}
.rightcontenttext p:nth-child(1){
    font-weight: bold;
}
.rightcontenttext p:nth-child(2){
    padding: 10px 10px 10px 0;
    text-decoration: underline;
}
.rightcontenttext p:nth-child(3){
    padding: 30px 0 30px 0;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    line-height: 1.5rem;
}
.close-area{
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 1.2rem;
}

.plus{
    margin: 20px;
    height: 200px;
    background-color: #dadce0;
    display: flex;
    justify-content: center;
}
.plus1{
    /* border: 1px solid black; */
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.plusimg{
    width: 50%;
    height: 90%;
}
.plusimg:hover{
    box-shadow:3px 3px 3px gray;
}
.plusimg img{
    width: 100%;
    height: 100%;
}
.plus2{
    width: 18%;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}
.plus2:hover{
    text-decoration: underline;
}
/* //////////////////////////////양희 끝/////////////////////////////////// */


/* /////////////////박성진 - footer START /////////////////////////////////// */

.footer{
    /* border: 1px solid yellow; */
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    background-color: #f1e1c8dc;
}

.icons{
    width: 100%;
    height: 100px;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-top: 1px solid rgba(15, 15, 155, 0.377); */
    margin-top: 20px;
}

.footer .icons .iconFrame{
    width: 50px;
    height: 50px;
    background-color: rgb(30, 83, 133);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 10px;
    flex-direction: column;
}

.iconFrame .ficon {
    font-size: 1.5rem;
    filter: invert();
}
.footerScroll{
    /* background-color: red; */
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid rgba(15, 15, 155, 0.377); */
    font-weight: bold;
    /* border-bottom: #aaa double 1px; */

}
.footerScroll ul li{
    display: inline-block;
    margin: 10px;
    opacity: 0.7;
    font-size: 1rem;
    cursor: pointer;
}

.footerContents{
    margin-top: 50px;
    width: 60%;
    height: 250px;
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    font-weight: bold;
    justify-content: center;
}

.footerContents .logoBox{
    height: 100%;
    margin: 50px 80px 0 0;
}

.footerContents .footerText{
    height: 100%;
}

/* /////////////////박성진 - footer END /////////////////////////////////// */

/* /////////////////박성진 - loading START /////////////////////////////////// */

.loadingImg{
    background-color: rgb(175, 215, 233);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.loadingImg.fadeOut{
    display: none;
}
.loadingContainer{
    height: 100vh;
    width: 100vw;
}

/* /////////////////박성진 - loading END /////////////////////////////////// */


/* ///////////////////////백진주 영역 시작--------------------------------------------------- */
/* 장르별 도서 */
.genreBook_pointer_con{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
}
.genreBook_pointer_box{
    width: 1220px;   
    display: flex;
    flex-direction: column;
}

/* 타이틀 변경 */
.genreBook_pointer_title {
    width: 1220px;
    padding: 10px;
    border-bottom: 1px solid black;
    color: rgb(117, 117, 118);
    margin: 50px 0px;
}
.genreBook_pointer_title:hover {
    color: black;
}
.gb_cont{   
    display: flex;
    justify-content: center;
    margin: 0px auto;
    overflow: hidden;

}
.gb_cont ul{
    width: 1290px;    
    display: flex;
    flex-wrap: wrap;
}
.gb_item {
    display: inline-block;    
    text-align: center;  
}
.gb_box{
    position: relative;
    width: 600px;
    height: 230px;
    margin: 5px 5px;
    overflow: hidden;
}
.gb_thumb{
    width: 100%;
    position: relative;    
}
.gb_thumb_cont{
    position: absolute;
    top:0;   
}
.gb_thumb_title{
    position: absolute;
    width: 30%;
    height: 230px;
    top:0px;
    background-color: rgb(27, 27, 27);
    opacity: 0.5;
    z-index: 1;       
}
.gb_thumb_title_txt{
    position: absolute;
    top: 0px;
    padding: 0px 10px;
    z-index: 5;
}
.gb_genre{
    width: 160px;
    font-weight: 600;
    padding: 10px 5px;
    z-index: 5;
    color: yellow;        
}
.gb_thumb_title_txt span{
    display: block;
    width: 130px;
    font-size: 1.2rem;
    text-align: left;
    padding: 5px;
    color: white;
    z-index: 2;     
}
.gb_tagList{
    position: absolute;
    width: 250px;
    height: 40px;
    bottom: 10px;
    right: 20px;    
    text-align: right;
}
.gb_tagList_txt{
    font-size:1.2rem;
    color:white;
    /* 글자에 그림자효과 */
    text-shadow: 0 0 5px rgb(70, 70, 70);
    overflow:hidden;
    /* white-space  공백처리 속성
    스페이스와 탭은 1칸 띄어쓰기, 줄바꿈도 1개의 공백, 자동줄바꿈 안됨 */
    white-space:nowrap;
    /* 애니메이션 이름, 시간, 속도 방향 ;
    steps(15) 3초동안에 15단계로 실행-숫자가 클수록 부드러운느낌
    forwards 키프레임의 100%에 도달했을때 마지막 키프레임유지 
    infinite 무한반복 */
    animation: typing 3s steps(15) forwards infinite;               
}
/* 너비 간격을 단계별로 두어 타이핑효과 애니메이션 */
@keyframes typing{
    0%{
        width:0%;
    }
    30%{
        width:100%
    }
    80%{
        width:100%
    }
    90%{
        width:0%
    }
    100%{
        width:0%
    }
}

/* 장르별 도서 새페이지영역*/
/* 타이틀 */
.genre_main_section{
    width: 1220px;
    height: 2000px;
}
/* 탭메뉴 */
.tabmenu{ 
    width:1220px;
    height: 930px; 
    background-color: #fff0d6;
    margin: 20px auto;
    position:relative; 
 
}
.tabmenu_list{
    list-style:none;
}
.tabmenu ul li{
  display:  inline-block;
  width:25%;
  height: 70px; 
  float:left;  
  text-align:center; 
  background-color: rgb(253, 244, 244);
  color:#333;
  font-size: 1.2rem;
 }
.tabmenu label{
  display:block;
  width:100%; 
  height:50px;
  line-height:50px;
  cursor: pointer;
}
.tabmenu input{
    /* radio input은 기능만 필요하므로
     display: none 처리 */
    display:none;
}
.tabCon{
  display:none; 
  padding: 10px;
  position:absolute; 
  left:0; top:50px; 
  width: 100%;
  height: 850px; 
  background-color: #ffefd6;
  overflow: hidden;
  
}
.tabmenu input:checked ~ label{
/* 형제 선택자 ~를 이용하여 input이 checked 되면
laber(탭제목)에 효과 부여 */
    font-size: 1.5rem;
    font-weight: 800;
    color: black;
    cursor: pointer;
    background-color: #ffefd6;
}
.tabmenu input:checked .tabmenu{
    background-color: #ffefd6;
}
.tabmenu input:checked ~ .tabCon{
    display:block;
 }
/* 탭메뉴 안 책 리스트 */
.genre_mid_slide{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 750px;
    margin-top: 20px;
}

.genre_mid_slide_box{    
    width: 180px;
    height: 230px;
    margin: 20px;
    /* border: 3px solid rgb(75, 75, 75); */
    position: relative;
    overflow: hidden;
    cursor: pointer;
    
}
.genre_mid_slide_box:hover{
    border: 1px solid rgb(202, 202, 202);
    box-shadow: 3px 3px 3px rgb(104, 104, 104);
}
.genre_mid_slide_box:hover .genre_doc_box{
    width: 180px;
    height: 60px;    
    background-color: black;
}
.genre_thumb{
    position: absolute;
    width:100%;
    height:100%;    
    top:0;
    left:0;    
}
.genre_thumb img{
    width:100%;
    height:100%;
}
.genre_doc_box{
    position: absolute;
    bottom:0px;
    width: 180px;
    height: 0px;
    background-color: black;
    transition: all 0.9s;
    display: flex;
    color: white;

}
.genre_doc_box_btn{
    width: 70px;
    height: 30px;
    background-color: black;
    border: 1px solid white;
    margin-top: 15px;
    margin-left: 15px;
    color: white;
    position: relative;
    overflow: hidden;
       
}
.genre_doc_box_btn_txt1{
    position: absolute;
    color: white;  
    padding-top: 2px; 
    padding-left: 4px;
    font-size: 1rem;
}
.genre_doc_box_btn_txt2{
    position: absolute;
    color: white;  
    padding-top: 2px; 
    padding-left: 12px; 
    font-size: 1rem;
   
}
.genre_doc_box_hover{
    position: absolute;
    bottom: -10px;
    left: -65px;
    width: 40px;
    height: 50px;
    transform: skew(50deg);
    background-color: white;
    color: #333;
    transition: all 0.7s ease-in-out;
    z-index: 0;   
    
}
.genre_doc_box_btn:hover .genre_doc_box_hover{
 width: 180px;
 height: 50px;
}
.genre_doc_box_btn:hover .genre_doc_box_btn_txt1{
    color: black;
    font-weight: 700;
}
.genre_doc_box_btn:hover .genre_doc_box_btn_txt2{
    color: black;
    font-weight: 700;
}
/* ///////////////////////백진주 영역 끝--------------------------------------------------- */

/* //////이상호////////////////////////////////////////////////// */


a{
    text-decoration: none;
}
.nav{
    /* 네비바 영역시작 */
    height: 90px;
    width: 100%
}
.nav-bar{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px;

}

.nav-bar-fixed{
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 150;
    top: 0;
    padding: 20px;
    background-color: white;
}
.nav-bar > ul{
    display: flex;
}
.nav-bar > ul > li{
    padding: 10px;
    margin: 0 30px;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    
}
.nav-bar-fixed > ul{
    display: flex;
}
.nav-bar-fixed > ul > li{
    padding: 10px;
    margin: 0 30px;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
}

.nav-bar-dropdown{
    /* 네비바 드롭다운 */
    display: flex;
    display: none;
    justify-content: center;
    position: absolute;
    top: 89px;
    width: 100%; 
    z-index: 400;
    background-color: #e9d4bbe3;
}
.nav-bar-dropdown > div{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar-dropdown > div> a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    margin: 30px 30px;
}
.nav-bar-dropdown > div> a > img{ 
    width: 120px;
    border-radius: 5px;
}
.nav-bar-dropdown > div > a > span{
    color:rgba(0, 0, 0, 0.7);;
    position: relative;
    right: 10px;
    top:  10px;
    font-weight: 700;
    font-size: 1.2rem;

}

.nav-bar-modal{
    position: absolute;
    width: 100%;
    top: 313px;
    height: 100vh;
    background-color: rgba(153,153,153, 0.6);
    display: none;
    z-index: 200;

}

.bestSeller{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 335px;
    width: 100%;
}
.bestSeller-sell-warp{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 335px;
    position: relative;
    overflow: hidden;
    
}

#bestSeller-sell-img{
    width: 200px;
    height: 300px;
    z-index: 100;
    position: relative;
    top: 20px;
    border-top-left-radius: 10px;
    overflow: hidden;
    opacity: 0;

}
.bestSeller-sell-ele{
    width: 200px;
    height: 300px;
    position: absolute;
    z-index: 30;
    opacity: 0;
}
.bestSeller-sell-ele > img{
    width: 200px;

}
.slideItem{
    width: 100%;
    position: absolute;
    transition: all 1.5s;
}
#font-warp{
    z-index: 100;
}
.text1{
    top: 120px;
    position: relative;
}
.text2{
    position: relative;
    bottom: 110px;
}
.text3{
    position: relative;
    bottom: 330px;
}
.bestSeller-text > h1{
    color: white;
    font-size: 3rem;
    margin: 30px 0;
    opacity: 0;
}
.bestSeller-text > pre{
    color: white;
    font-size: 1.5rem;
    margin: 30px 0;
    font-weight: 350;
    opacity: 0;
}
.bestSeller-sell-warp > div:nth-child(1){
    z-index:3;
}
.bestSeller-sell-warp > div:nth-child(2){
    z-index: 2;
}
.bestSeller-sell-warp > div:nth-child(3){
    z-index: 1;
}
.bestSeller-text{
    z-index: 5;
}
.ele-1{
    z-index: 4;
}
.ele-2{
    z-index: 3;
}
.ele-3{
    z-index: 2;
}

.slideItem > img{
    /* 헤더이미지 크기조절 */
       width: 100%;
}
.bestSeller-book{
    /* 베스트셀러 작은 이미지 */
    /* border: 1px solid black; */
    width: 130px;
    height: 450px;
    position: fixed;
    left: -10px;
    top: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FDE6BE;
    z-index: 40;
    box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.2);

}
#bestSeller-book-font,.bestSeller-book-warp{
    margin: 30px 0;
}
#bestSeller-book-font{
    text-align: center;
}
.bestSeller-book-warp{
    width: 120px;
    height: 195px;
    overflow: hidden;
}
.bestSeller-book-move{
    width: 120px;
    height: 195px;
    display: flex;

}
.bestSeller-book > div > div > div > img{
    width: 130px;
}
#bestSeller-book-btn{
    border-radius: 50%;
    border: none;
    width: 100px;
    height: 100px;
    top: 610px;
    left: 65px;
    position: fixed;
    z-index: 30;

}
#bestSeller-book-btn > i{
    position: relative;
    left: 25px;
    font-size: 2.4rem;
    font-weight: 800;
}

#bestSeller-book-font > p{
    font-size: 1.4rem;

}
#bestSeller-book-font > p:last-child{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}
#font1 > span{
    position: relative;
    margin: -4px;

}
#font3 > span{
    position: relative;
    margin: -4px;

}
#font5 > span{
    position: relative;
    margin: -4px;

}
.textani{
    animation: ani 0.5s ease;
    animation-delay: 1s;
    -webkit-font-smoothing: antialiased;
}
.textani1{
    animation: ani 0.5s ease;
    animation-delay: 1.1s;
    -webkit-font-smoothing: antialiased;
}
.textani2{
    animation: ani 0.5s ease;
    animation-delay: 1.2s;
    -webkit-font-smoothing: antialiased;
}
@keyframes ani {
    0%{
        top: 0px;
    }
    50%{
        top: -15px;

    }
    100%{
        top: 0px;

    }
    
}
#bg-line{
    width: 1201px;
    padding: 10px;
    margin-top: 40px;
    background: url(bg\ line.gif);
}
.grade{
    width: 1201px;
    height: 450px;
    margin:  30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 10px  #aaa;
}
.grade > h3{
    margin: 20px 0;
}
.grade-firstCon > h3{
    font-size: 0.8rem;
}
.grade-firstCon > h2{
    font-size: 0.6rem;
}
.grade-secondCon > div > h3{
    font-size: 0.8rem;
}
.grade-secondCon > div > h2{
    font-size: 0.6rem;
}
.grade-Con{
    width: 1201px;
    height: 450px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.grade-Con > div:last-child{
    margin-left: 90px;
}
.grade-firstCon{
    border: 5px solid rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FCFCFC;
 

}

.grade-firstCon > *{
    margin: 3px 0;
}
.grade-firstCon > div{
    width: 140px;

}
.grade-firstCon > div > img:hover{
    border: 1px solid rgba(0, 0, 0, 0.6);
}
.grade-firstCon > div > img{
    width: 100%;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
}
.grade-secondCon{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 900px;
    height: 350px;
}
.grade-secondCon > div{
    width: 170px;
    height: 250px;
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.grade-secondCon > div > *{
    margin: 3px 0;
}
.grade-secondCon > div > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 140px;
}
.grade-secondCon > div > div > img{
    width: 100%;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
}
.grade-secondCon > div > div > img:hover{
    border: 1px solid rgba(0, 0, 0, 0.6);
}
.grade > h1{
    border-bottom: 1px solid black;
    color: rgb(117, 117, 118);
}



/* ///////////////////////////////////이상호//////////////////////////////// */

